@import 'index.scss';


body {
    background-image: url(.././assets/Background.jpg);
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(7px);
    background-repeat: no-repeat;
}