@import './index.scss';


body {
    background-image: url(.././assets/Background.jpg);
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(7px);
    background-repeat: no-repeat;
}


@media screen and (min-width:1200px) and (min-height:590px) {

    .ContainerDesktop {
        display: flex;
        padding-right: 50px;
    }

}