@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0, 0%, 100%; /* Light (was in .dark) */
    --foreground: 216, 65%, 12%; /* Dark blue (was in .dark) */
    --card: 0, 0%, 100%; /* White (was in .dark) */
    --card-foreground: 216, 41%, 27%; /* darker text (was in .dark) */
    --popover: 224 71.4% 4.1%; /* Dark Gray */
    --popover-foreground: 47, 100%, 50%; /* Gold */
    --primary: 0, 0%, 100%; /* white (was in .dark) */
    --primary-foreground: 216, 41%, 27%; /* text for primary (was in .dark) */
    --secondary: 210, 15%, 95%; /* Light secondary (was in .dark) */
    --secondary-foreground:
      210, 8%, 25%; /* darker secondary text (was in .dark) */
    --muted: 45, 80%, 70%; /* light gold (was in .dark) */
    --muted-foreground: 210, 15%, 95%; /* Also Light (was in .dark) */
    --accent: 45, 80%, 70%; /* light gold (was in .dark) */
    --accent-foreground: 210, 15%, 95%; /* Also Light (was in .dark) */
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 210, 5%, 40%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 216, 65%, 12%; /* Dark blue (was in :root) */
    --foreground: 0, 0%, 100%; /* White (was in :root) */
    --card: 216, 41%, 27%; /* Card dark (was in :root) */
    --card-foreground: 0, 0%, 100%; /* White (was in :root) */
    --popover: 224 71.4% 4.1%; /* Dark Gray */
    --popover-foreground: 47, 100%, 50%; /* Gold */
    --primary: 216, 41%, 27%; /* primary dark (was in :root) */
    --primary-foreground: 0, 0%, 100%; /* white (was in :root) */
    --secondary: 216, 65%, 12%; /* darker secondary (was in :root) */
    --secondary-foreground: 210, 15%, 95%; /* light text (was in :root) */
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .listOfProject .item:nth-child(even) {
    align-self: flex-end;
  }
}

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

@layer components {
  @media (min-width: 1250px) {
    /* :root {
      --scale-factor: 1.8;
    } */
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    li,
    a {
      font-size: 25px;
    }
    /* body,
    html {
      font-size: 20px;
    } */
  }
}
