@import "../.././Styles/index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100vh;
  width: 100%;
  color: white;
  padding: 10px 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
  overflow-x: hidden;

  .divPurpleCode {
    opacity: 0.4;
    position: absolute;
    top: -20px;
    left: -50px;
    width: 150px;
    height: 150px;
    background-image: url(../../assets/purpleCode.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .line {
    position: absolute;
    top: -30px;
    right: -60px;
    width: 250px;
    height: 150px;
    background-image: url(../../assets/line.png);
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .divName {
    z-index: 5;
    width: 100%;
    padding: 20px 10px 5px 0;

    a {
      text-decoration: none;
      list-style: none;
      color: white;
      background-color: $details;
      border-radius: 40px;
      padding: 0 15px;
      cursor: pointer;
    }
  }

  .divText {
    width: 100%;
    text-align: center;
    height: max-content;
    transform: scale(1.1);

    h1 {
      font-size: 1.7rem;
      width: 100%;
    }

    & div {
      display: flex;
      justify-content: center;
      margin: 0 auto;

      p {
        font: 400 0.75rem "Inconsolata", monospace;
      }

      h2 {
        font-size: 1.7rem;
        color: $details;
        margin-top: -10px;
      }
    }
  }

  nav {
    height: max-content;
    width: 95%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 10px;

    a {
      text-decoration: none;
      list-style: none;
      text-align: center;
      color: white;
      flex: 1 1 110px;
      max-width: 400px;
      margin: 0 auto;
      padding: 5px 10px;
      border: 2px solid $cyan;
      border-radius: 20px;
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        background-color: $white;
        color: $details;
        font-weight: 700;
        transition: all 0.5s;
      }
    }
  }

  .divTechNetwork {
    height: 100px;
    width: calc(100% + 60px);
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    background-image: url(../../assets/techNetwork.png);
    background-size: cover;
    background-position: -20px center;
    background-repeat: no-repeat;
    position: relative;
    left: -10px;
    bottom: 0;
  }
}

@media screen and (min-width: 350px) and (min-height: 600px) {
  header {
    .divText {
      transform: scale(1.3);
    }

    .divTechNetwork {
      left: -20px;
      height: 150px;
    }
  }
}

@media screen and (min-width: 740px) and (min-height: 800px) {
  header {
    padding-bottom: 20px;

    nav {
      max-width: 750px;
      gap: 20px 30px;

      a {
        padding: 10px;
      }
    }
    .divText {
      transform: scale(2);
    }
    .divTechNetwork {
      left: -40px;
      height: 200px;
    }
  }
}

@media screen and (min-width: 1000px) and (min-height: 600px) {
  header {
    .divText {
      transform: scale(3);
    }
  }
}
