@import "../.././Styles/index.scss";

.SectionTech {
  padding: 30px 5px 50px 5px;
  text-align: center;
  background: linear-gradient($purpleTechsBackground, $purpleTechsBackground),
    url(../../assets/Background.jpg);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;

  h2 {
    color: $blue;
    text-align: center;
    margin-bottom: 40px;
    font: 700 2rem "Libre Baskerville", serif;
  }

  .DivContainer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 50px 30px;
    width: 90%;
    max-width: 700px;

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:last-of-type {
        margin-bottom: 0;
      }

      & p {
        color: white;
        font: 400 1rem "Assistant", sans-serif;
        margin: 5px;
      }
    }

    .React {
      flex: 1 1 50px;

      & svg {
        padding: 10px;
        font-size: 3rem;
        background-color: #5ed3f3;
        color: #ffff;
        border-radius: 10px;
      }
    }

    .Next {
      flex: 1 1 50px;

      & svg {
        padding: 10px;
        font-size: 3rem;
        background-color: black;
        color: #ffff;
        border-radius: 10px;
      }
    }

    .Typescript {
      flex: 1 1 50px;

      & svg {
        padding: 10px;
        font-size: 3rem;
        background-color: rgb(47, 116, 192);
        color: #ffff;
        border-radius: 10px;
      }
    }

    .Javascript {
      flex: 1 1 50px;

      & svg {
        padding: 10px;
        font-size: 3rem;
        background-color: #f7df1e;
        color: white;
        border-radius: 10px;
      }
    }

    .Tailwind {
      flex: 1 1 50px;

      & svg {
        padding: 10px;
        font-size: 3rem;
        background-color: #f0f2f4;
        color: #36b7f0;
        border-radius: 10px;
      }
    }

    .Firebase {
      flex: 1 1 50px;

      & svg {
        padding: 10px;
        font-size: 3rem;
        background-color: #f7f7f7;
        color: #f7c52c;
        border-radius: 10px;
      }
    }

    .Supabase {
      flex: 1 1 50px;

      & svg {
        padding: 10px;
        font-size: 3rem;
        background-color: black;
        color: rgb(70, 209, 147);
        border-radius: 10px;
      }
    }

    .Postgree {
      flex: 1 1 50px;

      & svg {
        padding: 10px;
        font-size: 3rem;
        background-color: rgb(49, 100, 140);
        color: white;
        border-radius: 10px;
      }
    }

    .Prisma {
      flex: 1 1 50px;

      & svg {
        padding: 10px;
        font-size: 3rem;
        background-color: white;
        color: rgb(11, 35, 49);
        border-radius: 10px;
      }
    }

    .Node {
      flex: 1 1 50px;

      & svg {
        padding: 10px;
        font-size: 3rem;
        background-color: #050505;
        color: #679e62;
        border-radius: 10px;
      }
    }

    .Shadcn {
      flex: 1 1 50px;

      & svg {
        padding: 10px;
        font-size: 3rem;
        background-color: #050505;
        color: white;
        border-radius: 10px;
      }
    }

    .Sass {
      flex: 1 1 50px;

      & svg {
        padding: 10px;
        font-size: 3rem;
        background-color: #c66394;
        color: white;
        border-radius: 10px;
      }
    }

    .Html {
      flex: 1 1 50px;

      & svg {
        padding: 10px;
        font-size: 3rem;
        background-color: #dd4b25;
        color: white;
        border-radius: 10px;
      }
    }

    .Git {
      flex: 1 1 50px;

      & svg {
        padding: 10px;
        font-size: 3rem;
        background-color: rgb(237, 237, 237);
        color: #e94d31;
        border-radius: 10px;
      }
    }
  }
}

button,
button::after {
  padding: 10px 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  position: relative;
}

button::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: attr(data-text);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

button:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #e94be8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}

button:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
}

button:hover {
  background-color: transparent;
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px, -10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px, 10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px, 0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px, -10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px, 10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px, -10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px, -10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}

@media screen and (min-width: 1000px) and (min-height: 590px) {
  .SectionTech {
    padding: 30px 5px 100px 5px;

    .DivContainer {
      margin-top: 100px;
      gap: 80px 50px;
    }
  }
}
