@import '../.././Styles/index.scss';

.ContainerAbout {
    padding: 20px 5% 50px 5%;
    height:max-content;
    background-color: rgba($color: #3b3b3b, $alpha: .4);
    backdrop-filter: blur(10px);
        
    & .DivText {
        margin: 0 auto;
        width: 100%;
        max-width: 800px;
        
        & h2 {
            color: white;
            text-align: center;
            margin-bottom: 30px;
            font: 700 2rem 'Libre Baskerville', serif;
        }

        & p {
            color: white;
            font: 400 1rem 'Open Sans', sans-serif;


            & span {
                font: 400 1rem 'Open Sans', sans-serif;
                color: #C2A393;
            }
        }
    }
}


@media screen and (min-width:400px) and (min-height:750px) {
    .ContainerAbout {
        .DivText {
            h2 {
                font: 700 2rem 'Libre Baskerville', serif;
            }
    
            & p {
                color: white;
                font: 400 1rem 'Open Sans', sans-serif;
    
    
                & span {
                    font: 400 1rem 'Open Sans', sans-serif;
                    color: #C2A393;
                }
            }
        }
    }

}