@import "../.././Styles/index.scss";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;500&display=swap");

.sectionContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  background-color: $details;
  color: white;
  padding: 15px 0 85px 0;

  h2 {
    color: $white;
    text-align: center;
    margin: 20px 0 30px 0;
  }

  .divFigure {
    margin-bottom: 30px;

    .figure {
      width: 200px;
      height: 200px;
      background-color: $background;
      border-radius: 50%;
      position: relative;
      margin: 0 auto;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        width: 100%;
      }
    }
  }

  .divText {
    background-color: $background;
    border-radius: 10px;
    padding: 30px 10px;
    max-width: 600px;
    margin: 0 auto;

    h4 {
      margin-bottom: 5px;
      font-size: 1rem;
      text-transform: uppercase;
    }

    p {
      font-family: "Inconsolata", monospace;

      a {
        color: inherit;
      }
    }
  }
}
